 body{
   background-image: url(../img/dice-21.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: start;
 }
 header {
  display: flex;
  flex-wrap: wrap;
  color: black;
  background: white;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
  box-shadow: 10px 0 10px;
}
header h1 {
  font-size: 40px;
  padding-left: 40px;
  text-shadow: 3px 3px rgba(0,0,0,0.4);
}
header nav {
  display: flex;
  align-items: center;
}
header a {
  margin: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: transform 0.5s;
}
header a:hover {
  color: gray;
  font-style: oblique;
}

 footer{
  background-color: white;
  width: 100%;
  margin: 0;
}
 
 main{
     margin-top: 5%;
     min-height: 100vh;
     background-color: white;
 }
.img-slide {
  max-width: 120%;
  width: 400px;
  height: 250px;


}
.box-slide {
  display: flex;
  flex-wrap: wrap;
  margin: 12rem auto;
  width: 80%;
  height: 35%;
  justify-content: space-evenly;
  align-content: center;
  background-color: #adb5bd;
  margin-top: 2%;
}

.slide-show{
  height: 300px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.img-slide{
  margin-left: 5%;
  margin-right: 5%;
}
.a-slide{
  margin-left: 5%;
  margin-right: 5%;
}
#titre-prod{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#art-index{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-self: center;
  background-color: #adb5bd;
  padding-bottom: 2%;
  padding-top: 2%;
}
#sec-index{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#logo{
  margin: 15%;
}


